h1 {
    text-align: center;
    padding-top: 20px;
    font-size: 60px;
    color: floralwhite;
}

.backgroundTree {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/2020:03:15-Pathway.jpeg");
    background-size: cover;
    background-position: center;
}

.backgTwo {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/2020:03:15-Flowers.jpeg");
    background-size: cover;
    background-position: center;
}

.backgThree {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/2020:03:15-PrettyFlowers.jpeg");
    background-size: cover;
    background-position: center;
}

.textVis {
    color: floralwhite;
}

.cardBg {
    background-color: gray;
}